*{
  box-sizing: border-box
}

html{
      background: rgba(0, 0, 0, 0) url("images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

h2{
  text-align: center;
}

.score-board{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-width: 500px;
  text-align: center
}

ul{
  list-style: none;
  display: block;
}



.quiz-area{
  display: block;
  background: rgba(0, 0, 0, 0) url("images/landing.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  width:  85%;
  max-width: 900px;
  height: 500px;
  border: 3px solid;
  align-content: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-color: black
}

p{
  font-size: 24px;
  background-color: gray
}

button{
  display: block;
  width: 100px;
  height: 50px;
  background-color: black;
  color: greenyellow;
  font-size: 16px;
}



legend{
  background-color: gainsboro;
  color:black
}

#answer-pool{
  background-color: gray;
}

label{
  display: block;
}

.correct-answer{
  color: green;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


.wrong-answer{
  color: red;
  text-align: center;
  background: black   
}

@media only screen and (min-width: 768px){
li{
  display: inline-block;
  width: auto;
  float: left;
  }

li:last-child{
  float: right
  }
}
